@model Lab_6.Models.Institute

@{
    ViewBag.Title = "DeleteInstitute";
}

<h2>Delete Institute</h2>

<h3>Are you sure you want to delete this?</h3>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
